@media(min-width:576px) {
    html {
        font-size: 1.2rem
    }
}

@media(min-width:768px) {
    html {
        font-size: 1.4rem
    }
}

@media(min-width:992px) {
    html {
        font-size: 1.6rem
    }
}

@media(min-width:1140px) {
    html {
        font-size: .9rem!important
    }

    .container {
        max-width: 1080px!important
    }

}

@media(min-width:1369px) {
    html {
        font-size: 1.1rem!important
    }
    .container {
        max-width: 1280px!important
    }
}

html,
body {
    height: 100%!important;
}

.full-height {
    height: 100%!important
}

html body .edit-id{
    z-index: 998 !important;
    position: absolute;
    min-width: 25px;
    text-indent: 0 !important;
    height: 25px;
    padding: .1rem .3rem;
    text-align: center;
    line-height: 1.3;
    border-radius: 3px;
    opacity: 1 !important;
    font-style: normal !important;
    z-index: 777;
    font-weight: 500 !important;
    font-size: 1rem !important;
    color: white;
    background: #ff5a5f!important;
}


.edit-id-top{
    top: 0;
}

.edit-id-right{
    right: 0;
}

.edit-id-bottom{
    bottom: 0;
}

.edit-id-left{
    left: 0;
}

.edit-id-left-30{
    left: -30px;
}

.w-90 {
    width: 90%!important
}
.modal-content{
    border-radius: inherit;
}
.modal-footer{
    padding: 0;
    border: none;
}


#localeModal .modal-dialog{
    max-width: 300px;
}

#localeModal i{
    vertical-align: top;
}

#localeModal .active{
    background: #eee;
}

#localeModal span.font-weight-bold{
    position: relative;
    left: 14px;
}

#localeModal a{
    transition: all ease-in 100ms;
    text-decoration: none;
}

#localeModal a:hover{
    background: #eee;
}

i.locale{
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    font-size: 0;
}

i.fr{
    background-image: url("../../img/framework/interface/fr.svg");
}

i.en{
    background-image: url("../../img/framework/interface/en.svg");
}

i.it{
    background-image: url("../../img/framework/interface/it.svg");
}

i.de{
    background-image: url("../../img/framework/interface/de.svg");
}

i.es{
    background-image: url("../../img/framework/interface/es.svg");
}

i.pt{
    background-image: url("../../img/framework/interface/pt.svg");
}

.modal-footer button:hover{
    transform: inherit !important;
    opacity: 0.9;
}

::-webkit-scrollbar {
    max-width: 8px
}

::-webkit-scrollbar-track {
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px
}

.text-info {
    color: #fed300 !important;
}

.border-theme {
    border-color: #59b0a3!important
}


.btn{
    border-radius: 0 !important;
    border: none!important;
    border-radius: 0!important;
    font-weight: 500;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms
}

.btn:hover {
    -webkit-transform: scale(1.1)!important;
    transform: scale(1.1)!important
}

input,
textarea {
    border: 1px solid #d8d9dc!important;
    color: #d8d9dc!important;
    border-radius: 0!important;
    padding: 16px!important;
    padding: 1rem!important;
    box-shadow: 0 5px 8px -5px rgba(0, 0, 0, .1)!important
}

.g-recaptcha{
    border: 1px solid transparent;
}

.btn.disabled, .btn:disabled{
    opacity: 1 !important;
    color: black !important;
}

.error-form{
    border: #ff4f57 1px solid !important;
}

input:focus,
textarea:focus {
    color: #495057!important;
    background-color: #fff!important;
    border-color: #80bdff!important;
    outline: 0!important;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)!important
}

label {
    font-weight: 500;
    color: #343a40
}

.socialNetwork {
    background: #eee;
    color: black;
    height: 45px!important;
    width: 45px!important;
    text-align: center;
    line-height: 1.7!important;
    border-radius: 50%;
    font-size: 26px!important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms
}

.socialNetwork:hover {
    -webkit-transform: scale(1.1)!important;
    transform: scale(1.1)!important
}


.bg-dark {
    background-color: #1b1b1b!important
}

footer {
    padding: 30px 0
}

footer ul li {
    list-style-type: none
}

footer #developerBox {
    color: #eee;
    font-size: 12px
}

footer #developerBox p {
    margin: 0
}

footer ul div a i {
    margin: 0 20px 0 0
}

#nfo{
    background: white;
    position: fixed;
    -webkit-box-shadow: 1px -8px 37px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px -8px 37px -9px rgba(0,0,0,0.38);
    box-shadow: 1px -8px 37px -9px rgba(0,0,0,0.38);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

#nfo i{
    color: #fd2775;
}

#nfo .row{
    margin: 0 auto;
}

#nfo .row p{
    margin: 0;
}

@media(min-width:768px) {
    #nfo i , #nfo button{
        position: relative;
        top: 24px;
    }
    #nfo p{
        text-align: left;
    }
}
