

.bg-theme, .bg-theme-{
    background-color: #fed300 !important;
}

.text-theme, .text-theme-{
    color: #fed300 !important;
}

.bg-theme-jaune{
    background-color: #fed300 !important;
}

.text-theme-jaune{
   color: #fed300 !important;
}

.bg-theme-turquoise{
    background-color: #59b0a3 !important;
}

.text-theme-turquoise{
    color: #59b0a3 !important;
}

.bg-theme-framboise{
    background-color: #ff294f !important;
}

.text-theme-framboise{
    color: #ff294f !important;
}

.bg-theme-cobalt{
    background-color: #1976d2 !important;
}

.text-theme-cobalt{
    color: #1976d2 !important;
}

.bg-theme-ambre{
    background-color: #ffa000 !important;
}

.text-theme-ambre{
    color: #ffa000 !important;
}

.bg-theme-menthe{
    background-color: #1de9b6 !important;
}

.text-theme-menthe{
    color: #1de9b6 !important;
}

 .bg-theme-cyan{
     background-color: #00e5ff !important;
 }

.text-theme-cyan{
    color: #00e5ff !important;
}

.bg-theme-gold{
    background-color: #dcc475 !important;
}

.text-theme-gold{
    color: #dcc475 !important;
}



