<div class="d-none d-md-block">
    <h2 class="h5 pt-3">Site en mode édition</h2>
    <hr>
    <div class="row">
        <div class="col-sm-12">
                <a id="showSite" target="_blank" href="{{ url('showSite') }}">
                    <i class="material-icons pb-2">
                        open_in_new
                    </i>
                    <span>Visualiser le site</span>
                </a>

        </div>
    </div>
</div>