<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no" />
    <title>Administration</title>
    <link rel="stylesheet" href="{{ asset('css/back/showSite.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<iframe id="showSite" title="Editor" width="100%" height="100%" src="{{ url('home') }}"></iframe>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            var iframe = $("#showSite");
            iframe.contents().find('.edit-id').removeClass('d-none');
        }, 3000);
    });
</script>
</body>
</html>
