<div class="dropdown" id="dropdown-flag">
    <button type="button" data-toggle="dropdown">
         <span class="w-25"><i class="fr">fr</i></span>
        <span class="text-capitalize w-75 text-light font-weight-bold">fr</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">
            <span class="w-25">
                   <i class="fr">fr</i>
            </span>
            <span class="text-capitalize w-75 text-dark font-weight-bold">fr</span>
        </a>
    </div>
</div>